* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin: 0;
}

.row > * {
  padding: 0 1rem;
  margin: 1rem 0;
}

body {
  background-color: white;
  font-family: "Fuzzy Bubbles", cursive;
}

footer {
  background-color: #ced4da;
}

main {
  background-color: white;
}

@media (max-width: 768px) {
  main h2 {
    font-family: "Gluten", cursive;
  }
}

hr {
  background-color: lightgreen;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

h5 {
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
}

span {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #495057;
  text-align: center;
}

p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #495057;
  text-align: center;
}

a {
  color: #6c757d;
  font-family: "Fuzzy Bubbles", cursive;
}

.img {
  max-width: 100%;
  height: 130px;
  margin: 15px 0;
  vertical-align: middle;
}

.imgBootstrap {
  width: 100% !important;
  height: 100% !important;
  border-radius: 2rem !important;
  -webkit-box-shadow: -3px 5px 15px #000 !important;
          box-shadow: -3px 5px 15px #000 !important;
  cursor: pointer !important;
}

.icon {
  color: #495057;
  font-size: 6.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.navbar-brand {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.navbar-brand:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.sec {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: green;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .sec {
    padding: 20px;
    padding-bottom: 160px;
    height: 80%;
  }
}

.sec header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .sec header {
    padding: 20px 20px;
  }
  .sec header .toggleMenu {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(assets/logos/menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
  }
  .sec header .active {
    background: url(assets/logos/close.png);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}

.sec header a {
  font-family: "Poppins", sans-serif;
}

.sec header .logo {
  position: relative;
  max-width: 160px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 768px) {
  .sec header .logo {
    max-width: 110px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .sec header .logo {
    max-width: 140px;
  }
}

.sec header Ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .sec header Ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  .sec header Ul.active {
    visibility: visible;
    opacity: 1;
    background: white;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

.sec header Ul li {
  list-style: none;
}

.sec header Ul li a {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  color: white;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

@media (max-width: 992px) {
  .sec header Ul li a {
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
  }
  .sec header Ul li a:hover {
    color: violet;
  }
}

.sec .content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .sec .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 80px;
  }
}

.sec .content .textBox {
  position: relative;
  max-width: 600px;
  margin-top: 80px;
}

@media (max-width: 992px) {
  .sec .content .textBox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;
    margin-top: 70px;
  }
}

.sec .content .textBox h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
}

@media (max-width: 992px) {
  .sec .content .textBox h2 {
    font-size: 3em;
  }
}

.sec .content .textBox span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-align: start;
}

@media (max-width: 992px) {
  .sec .content .textBox span {
    font-size: 1.3em;
  }
}

.sec .content .textBox p {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: start;
}

@media (max-width: 576px) {
  .sec .content .textBox p {
    font-size: 13px;
    margin-bottom: 0px;
  }
}

.sec .content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  background: white;
  color: black;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 992px) {
  .sec .content .textBox a {
    padding: 8px 15px;
    font-size: 14px;
  }
}

.sec .content .imgBox {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding-right: 50px;
}

@media (max-width: 992px) {
  .sec .content .imgBox {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    margin-top: 50px;
  }
}

.sec .content .imgBox img {
  max-width: 280px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 992px) {
  .sec .content .imgBox img {
    max-width: 200px;
  }
}

.sec .thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec .thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec .thumb li:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.sec .thumb li img {
  max-width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 992px) {
  .sec .thumb li img {
    max-width: 50px;
    height: 50px;
  }
}

.sec .sci {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

@media (max-width: 992px) {
  .sec .sci {
    position: absolute;
    top: 50%;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex;
            flex-direction: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sec .sci li {
  list-style: none;
}

.sec .sci li a {
  text-decoration: none;
  display: inline-block;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin: 5px 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.sec .sci li a i {
  color: black;
  font-size: 30px;
}

@media (max-width: 992px) {
  .loginSize {
    height: 300px;
  }
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 473px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#141e30), to(#243b55));
  background: linear-gradient(#141e30, #243b55);
}

@media (max-width: 576px) {
  .login-box {
    width: 80%;
    height: 500px;
  }
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.login-box span {
  position: absolute;
  display: block;
}

.login-box span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

.login-box span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.login-box span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.login-box span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.event {
  font-family: monospace;
  letter-spacing: 0.2rem;
}

.tableUsers td {
  font-size: 1rem;
}

@media (max-width: 355px) {
  .tableUsers td {
    font-size: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (min-width: 355px) and (max-width: 576px) {
  .tableUsers td {
    font-size: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 576px) {
  .tableUsers h3 {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 576px) {
  .tableUsers p {
    font-weight: bolder;
    font-size: 0.8rem;
  }
}

.contact-info-item {
  text-align: center;
}

.information {
  max-height: 600px;
}

.copyright {
  border-top: 0.1rem solid #ced4da;
  padding-top: 3rem;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  border: none;
  font-weight: bold;
  color: green;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.copyright p {
  font-size: 1rem;
  color: #6c757d;
}

.copyright span {
  font-size: 1rem;
  color: #6c757d;
}

.copyright span .heart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation-name: beat;
          animation-name: beat;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  15% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.copyright .footer-social {
  text-align: center;
}

section {
  height: 400px;
  background-color: white;
  color: green;
  font-weight: bolder;
  font-size: larger;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.title,
.paragraph {
  color: green !important;
}

.mi_footer {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}

.modal-body {
  width: 80%;
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-body .buttons_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body .buttons_modal .btn_facebook,
.modal-body .buttons_modal .btn_google,
.modal-body .buttons_modal .btn_email {
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.modal-body .buttons_modal .btn_facebook a,
.modal-body .buttons_modal .btn_google a,
.modal-body .buttons_modal .btn_email a {
  text-decoration: none;
  border: none;
  font-weight: bold;
  color: green;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-body .buttons_modal .btn_facebook {
  background-color: #006ab1;
}

.modal-body .buttons_modal .btn_google {
  color: #000;
  background-color: #E7E7E7;
}

.modal-body .buttons_modal .btn_email {
  border: 1px solid #06A106;
  color: #06A106;
  background-color: #ffffff;
}

.modal-body a, .modal-body p {
  font-family: Arial, Helvetica, sans-serif;
}

.family {
  font-family: Arial, Helvetica, sans-serif;
}

.mangasList .filteringBy .btn-group {
  padding-right: 6rem;
}

@media (max-width: 576px) {
  .mangasList .filteringBy .btn-group {
    padding: 0px !important;
  }
}

.mangasList .filteringBy .btn-group .btn-dark {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: black;
  border: 2px solid green;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.mangasList .gridStore {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media (max-width: 768px) {
  .mangasList .gridStore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    gap: 0px;
  }
}

.mangasList .gridStore span, .mangasList .gridStore i {
  font-size: 20px;
}

.mangasList .gridStore .box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  max-width: 300px;
}

@media (max-width: 576px) {
  .mangasList .gridStore .box {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.mangasList .gridStore .box .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mangasList .gridStore .box .searchProducts {
  margin-bottom: 15px;
}

.mangasList .gridStore .box .searchProducts #searchItem {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.mangasList .gridStore .box h4 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  .mangasList .gridStore .box h4 {
    display: none;
  }
}

.mangasList .gridStore .box ul {
  background: #fff;
  height: 400px;
}

@media (max-width: 768px) {
  .mangasList .gridStore .box ul {
    display: none;
  }
}

.mangasList .gridStore .box ul:hover li {
  opacity: 0.2;
}

.mangasList .gridStore .box ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .mangasList .gridStore .box ul li {
    display: inline-block;
    font-size: 20px;
  }
}

.mangasList .gridStore .box ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}

.mangasList .gridStore .box ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 768px) {
  .mangasList .gridStore .box ul li span {
    display: none;
  }
}

.mangasList .gridStore .gridProducts {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.mangasList .box ul li:hover span {
  background: #fff;
  color: #25bcff;
}

.shop-item {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.section-header {
  padding-top: 35px;
  font-family: "Roboto", sans-serif;
}

.zoom img {
  width: 100%;
  max-height: 254px;
  margin: 15px 0;
  vertical-align: middle;
  max-width: 200px;
  height: auto;
  -webkit-transition: all 3s;
  transition: all 3s;
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.zoom img:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 15px #23A217;
          box-shadow: 0px 0px 15px 15px #23A217;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 3s;
  transition: all 3s;
}

@media (max-width: 768px) {
  .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.shop-item p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: green;
}

.price,
.cart-item-title {
  padding-top: 50px;
}

@media (max-width: 548px) {
  .cart-item-title {
    display: none;
  }
}

.cart-total {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  border: double black;
}

.btn-purchase {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: black;
  border: 2px solid green;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.shop-item-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: black;
  border: 2px solid green;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.shop-item-button.appear {
  opacity: 0.8;
  font-style: italic;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 548px) {
  .btn-danger {
    font-size: 12px;
    margin-right: -27px !important;
  }
}

.storeHeader {
  height: 200px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1;
  top: 0;
}

.storeHeader.down {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: -13px;
}

.storeHeader.down section {
  display: none !important;
}

.storeHeader .hiddenSm {
  height: 35px;
  background-color: lightcyan;
  color: green;
}

.storeHeader .menuHeader {
  background-color: white;
  border-bottom: 1px solid lightgreen;
  display: -ms-grid;
  display: grid;
}

@media (max-width: 576px) {
  .storeHeader .menuHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.storeHeader .menuHeader .searchH {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.storeHeader .menuHeader .searchH i {
  color: green;
  font-size: 30px;
}

@media (max-width: 767px) {
  .storeHeader .menuHeader .form-inline {
    display: none;
  }
}

.storeHeader .menuHeader .mangaL {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

@media (max-width: 576px) {
  .storeHeader .menuHeader .mangaL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.storeHeader .menuHeader .mangaL img {
  max-width: 280px;
  height: 100%;
  max-height: 162px;
}

.storeHeader .flexHeader {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storeHeader .navbar-brand {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  text-align: center;
  color: green;
}

.storeHeader .navbar-brand:hover {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.storeHeader .navbar-brand a {
  font-family: "Fuzzy Bubbles", cursive;
  color: green;
  text-decoration: none;
}

.socialBody {
  overflow: hidden;
}

.socialSection {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4f8b), to(#dff1ff));
  background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}

.socialSection::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: 10;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.socialSection .color {
  position: absolute;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.socialSection .color:nth-child(1) {
  top: -350px;
  background: #ff359b;
  width: 600px;
  height: 600px;
}

.socialSection .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  background: #fffd87;
  width: 500px;
  height: 500px;
}

.socialSection .color:nth-child(3) {
  bottom: -50px;
  right: 0;
  background: #00d2ff;
  width: 300px;
  height: 300px;
}

.socialSection ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialSection ul li {
  position: relative;
  list-style: none;
  margin: 10px;
}

@media (min-width: 450px) and (max-width: 491px) {
  .socialSection ul li {
    margin: 5px;
  }
}

@media (max-width: 449px) {
  .socialSection ul li {
    margin: 2px;
  }
}

.socialSection ul li a {
  position: relative;
  top: 0;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: top 0.5s, z-index 0s, -webkit-transform 0.5s;
  transition: top 0.5s, z-index 0s, -webkit-transform 0.5s;
  transition: top 0.5s, z-index 0s, transform 0.5s;
  transition: top 0.5s, z-index 0s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.5s, 0s;
          transition-delay: 0.5s, 0s;
}

@media (max-width: 420px) {
  .socialSection ul li a {
    width: 60px;
    height: 60px;
  }
}

.socialSection ul li a:hover {
  -webkit-transition-delay: 0s, 0.5s;
          transition-delay: 0s, 0.5s;
  top: -50px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  z-index: 11;
}

.socialSection ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: skewX(45deg) translateX(150px);
          transform: skewX(45deg) translateX(150px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socialSection ul li a:hover:before {
  -webkit-transform: skewX(45deg) translateX(-150px);
          transform: skewX(45deg) translateX(-150px);
}
/*# sourceMappingURL=styles.css.map */