// -------------------- HEADER

.storeHeader {
    height: 200px;
    width: 100%;
    position: sticky;
    transition: 0.7s;
    z-index: 1;
    top: 0;

//--Scroll Effects - JavaScrip--//
    &.down {
        transition: all 0.4s ease;
        top: -13px;
        section {
            display: none !important;
        }
    }
    
    .hiddenSm {
        height: 35px;
        background-color: lightcyan;
        color: green;
    }

    .menuHeader {
        // @include flexBox (flex,nowrap,space-evenly,center);
        background-color: white;
        border-bottom: 1px solid lightgreen;
        display: grid;

        @media (max-width: $sm) {
            display: flex;
            flex-direction: column;
        }

        .searchH {
            grid-row: 1/1;
            grid-column: 3/8;
            display: flex;
            justify-content: center;

            i {
                color: green;
                font-size: 30px;
            }
        }

        .form-inline {

            @media (max-width: 767px) {
                display: none;
            }
        }
        .mangaL {
            grid-row: 1/1;
            grid-column: 2/3;

            @media (max-width: $sm) {
                display: flex;
                justify-content: center;
            }

            img {
                max-width: 280px;
                height: 100%;
                max-height: 162px;
            }
        }
    }

    .flexHeader {
        grid-row: 1/1;
        grid-column: 8/12;
        @include flexBox (flex, nowrap, space-around, center);
    }
    .navbar-brand {
        transition: all 400ms;
        text-align: center;
        color: green;
        
        &:hover {
            transition: all 400ms;
            transform: scale(1.05);
        } 
    
        a {
            font-family: $default-font;
            color: green;
            text-decoration: none;
        }   
    }
}
