// -------------------- HEADER

.storeHeader {
    height: 200px;
    width: 100%;
    position: sticky;
    transition: 0.7s;
    z-index: 1;
    top: 0;

//--Scroll Effects - JavaScrip--//
    &.down {
        transition: all 0.4s ease;
        top: -13px;
        section {
            display: none !important;
        }
    }
    
    .hiddenSm {
        height: 35px;
        background-color: lightcyan;
        color: green;
    }

    .menuHeader {
        @include flexBox (flex,nowrap,space-evenly,center);
        background-color: white;
        border-bottom: 1px solid lightgreen;

        @media (max-width: $lg) {
            display: flex;
            flex-direction: column;
        }

        .searchH {
            display: flex;
            justify-content: center;
        }

        .form-inline {

            @media (max-width: $lg) {
                display: none;
            }
        }

        img {
            max-width: 250px;
        }
    }

    .flexHeader {
        @include flexBox (flex, nowrap, space-around, none);
    }
    .navbar-brand {
        transition: all 400ms;
        text-align: center;
        color: green;
        
        &:hover {
            transition: all 400ms;
            transform: scale(1.05);
        } 
    
        a {
            font-family: $default-font;
            color: green;
            text-decoration: none;
        }   
    }
}
