// -------------------- MIXINS


//--mixin main box--//

@mixin flexBox ($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

//--mixin img--//

@mixin imgInside-box ($width, $height) {
    display: block;
    position: center;
    border-radius: 0.8rem;
    width: $width;
    height: $height;
}

//--mixin overlay--//

@mixin imageOverlay ($background, $backdrop-filter, $border-radius) {
    @include flexBox(flex, column, center, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background;
    backdrop-filter: $backdrop-filter;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: $custom-font;
    font-weight: $font-weight-bold;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    border-radius: $border-radius;

    & > * {
        transform: translateY(20px);
        transition: transform 1s;
    }

    &:hover > * {
        transform: translateY(0px);                    
    }

    &:hover {
        opacity: 1;
    }
}

//--mixin text--//

@mixin text($color, $size, $weight, $align, $transform, $stretch) {
    color: $color;
    font: {
        family: $default-font;
        size: $size;
        weight: $weight;
        stretch: $stretch;
    }
    text: {
        align: $align;
        transform: $transform;
        decoration: none;
    }
    line-height: 1.5;
}

//--subtitulo--//

@mixin subtitle($color, $align) {
    color: $color;
    font: { size: 1.4rem; weight: $extra-bold; }
    text: { align: $align; transform: uppercase; decoration: none; }
    letter-spacing: .1rem;
}

//--parrafo--//

@mixin paragraph($color, $align, $width) {
    color: $color;
    font: { size: 1.2rem; weight: $regular; }
    text: { align: $align; decoration: none; }
    letter-spacing: .1rem;
    line-height: 1.5;
    max-width: $width;
}

//--buttons--//

@mixin storeButton {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    color:black;
    border: 2px solid green;
    font-family: $profesional-newest;
    font-weight: bolder;
}
