// -------------------- OWN VARIABLES

// font

$default-font: 'Fuzzy Bubbles', cursive;
$custom-font: 'Gluten', cursive;
$newest-font: 'Square Peg', cursive;
$profesional-font: Arial, Helvetica, sans-serif;
$profesional-newest: 'Roboto', sans-serif;
$home-font: 'Poppins', sans-serif;

// text size

$big-text: 1.6rem;
$medium-text: 1.4rem;
$normal-text: 1.2rem;
$small-text: 1rem;
$tooSmall-text: 0.8rem;

// body color palettes 

$dark-palett: linear-gradient(#141e30, #243b55);

// img size

$big: 550px;
$normal: 311px;
$small: 250px;

// -------------------- BOOTSTRAP VARIABLES

// title size and bold

$font-size-base:              1rem;
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

// font weight

$font-weight-lighter:         lighter;
$font-weight-light:           200;
$font-weight-normal:          400;
$font-weight-bold:            600;
$font-weight-bolder:          bolder;

// breakpoints (mobile first)

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$black: #000000;
$white: #ffffff;

$grey-200: #f7f7f7;
$grey-400: #979797;

// typo

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;